:root {
  --primary-color: #f03e3e;
  --secondary-color: #fa5252;
  --common-padding: 6.4rem 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
nav,
p,
li,
a,
h1,
h3,
h4 {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url(./images/background.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* common styles */
.small-heading {
  font-size: 3rem;
  line-height: 1.4;
  letter-spacing: 1px;
}
a {
  transition: all 0.2s;
}

/* hr {
  border: 0;
  height: 1px;
  background: #f8f9fa;
  margin: 1rem 0;
} */

.small-heading span {
  color: #f03e3e;
}

.large-heading {
  font-size: 4.6rem;
  line-height: 1.4;
  letter-spacing: 1.3px;
}

.large-heading span {
  color: #f03e3e;
}

a {
  text-decoration: none;
}

.show-hide {
  display: flex !important;
}

/* Header Section */
header {
  background-color: #212529;
  /* background-color: #e9ecef; */
  padding: 2.4rem 4rem;
  position: sticky;
  top: 0;
  /* width: 100%; */
  z-index: 2;
}

/* navigation */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
}

.hamburger {
  display: none;
  position: absolute;
  top: -4px;
  right: 1.5rem;
  font-size: 3.2rem;
  cursor: pointer;
}
.logo {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}

.logo h2 {
  color: #fff;
  font-size: 2.4rem;
}

.logo .sign {
  margin-bottom: 2px;
}
.logo .b {
  color: #f03e3e;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  font-size: 1.8rem;
}

.links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

.links a:hover {
  color: #f03e3e;
}
/* 
.about_down i {
  color: white !important;
}

.about_down i:hover {
  color: var(--secondary-color) !important;
} */

/* About Section */
.about {
  background: url(images/bg3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: var(--common-padding);
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 90vh;
  position: relative;
}

/* .about_image {
  flex-basis: 50%;
} */

/* .about_image img {
  width: 100%;
} */

.about_description {
  /* flex-basis: 50%; */
  text-align: center;
}

.about_description h3,
.about_description h4 {
  line-height: 1.8;
}

.btn-hire {
  background-color: #f03e3e;
  padding: 1rem 1.8rem;
  border-radius: 2.4rem;
  font-size: 2rem;
  color: #fff;
  margin-top: 2.8rem;
  display: inline-block;
  transition: all 0.2s;
}

.btn-hire:hover {
  background-color: #fa5252;
}
.about_down {
  position: absolute;
  bottom: 2rem;
}

.about_down a {
  font-size: 4.8rem;
  color: #000 !important;
}

.about_down a i {
  transition: all 0.2s;
}

.about_down a i:hover {
  color: #f03e3e;
}

/* about-second */
.about-second {
  /* background-color: #343a40; */
  padding: var(--common-padding);
  text-align: center;
  /* color: #fff; */
}

.about-second img {
  /* border: 2px solid #fa5252; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* height: 36rem; */
  object-fit: cover;
  /* max-width: 36rem; */
  width: 100%;
  /* border-radius: 50%; */
  border-radius: 8px;
  margin: 3rem 0;
}

.about-second p {
  /* width: 70%; */
  text-align: center;
  margin: 2rem auto;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.4px;
}

/* Education */
.education {
  padding: var(--common-padding);
  text-align: center;
}
.education .large-heading {
  margin-bottom: 3rem;
}

.education .small-heading {
  margin-bottom: 1.2rem;
}
.education p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.education p a:hover {
  text-decoration: underline;
}

.education .date {
  font-size: 1.6rem;
  opacity: 0.8;
}

.education .social-icons {
  margin-top: 1.8rem;
  justify-content: center;
}

.education .social-icons i {
  font-size: 3rem;
}

/* My experiences */
.my_experiences {
  padding: var(--common-padding);
}

.experience {
  justify-content: center;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.experience_each {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1.6rem 1.8rem;
  /* flex-basis: 33.33%; */
  border-radius: 4px;
}
.experience_each h4 {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
.experience_each p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.experience_each p a:hover {
  text-decoration: underline;
}

.experience_each .date {
  font-size: 1.6rem;
  opacity: 0.8;
}
.social-icons {
  display: flex;
  margin-bottom: 1.6rem;
  margin-top: 1.4rem;

  /* padding: 0 6px; */
  gap: 12px;
}

.social-icons a {
  color: #343a40;
}

.social-icons a i {
  font-size: 2.2rem;
}

.modal-dialog img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 18.8rem;
  object-fit: cover;
  width: 50%;
  border-radius: 4px;
  margin-bottom: 1.2rem;
}

.modal-dialog h1 {
  font-size: 2.8rem !important;
}
.modal-body p {
  margin-bottom: 8px;
}
.modal-body ul {
  padding: 0.4rem 2.4rem;
  font-size: 1.7rem;
}

.modal-body u {
  color: var(--primary-color);
}
/* Skills */
.skills {
  padding: var(--common-padding);
  text-align: center;
}

.skills h3 {
  margin-bottom: 4.8rem;
}

h3 span {
  color: #fa5252;
}

/* .skills-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
} */

.skills-images {
  position: relative;
}

.skills-images img {
  /* flex-basis: 20%; */
  width: 100%;
  height: 25.6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.6rem;
}

.skills-images p {
  font-size: 1.8rem;
}
.skills-images p:not(last-child) {
  margin-bottom: 8px;
}
.skills-images p:last-child {
  color: #f03e3e;
}

.owl-dots {
  margin-top: 5.2rem;
}

.owl-prev,
.owl-next {
  font-size: 6.4rem !important;
  position: absolute;
  color: #f03e3e !important;
}

.owl-prev {
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}
.owl-next {
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

.owl-dot span {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  margin-right: 6px;
  background-color: gainsboro !important;
  display: inline-block;
}

.owl-dots .owl-dot.active span {
  background-color: #fa5252 !important;
}

.projects_main {
  padding: var(--common-padding);
  /* background-color: #343a40; */
}
.project-heading {
  text-align: center;
  /* color: #fff; */
  margin-bottom: 5.2rem;
}
/* projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.projects_each {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
}

.projects_each img {
  width: 100%;
  height: 26rem;
  margin-bottom: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px 8px 0 0px;
  object-fit: cover;
}

.projects .tech {
  font-size: 1.6rem;
  padding-left: 2.4rem;
  opacity: 0.8;
}

.project_each-description {
  padding: 1.6rem;
}

.project_each-description h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.project_each-description p {
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
  opacity: 0.8;
  line-height: 1.3;
}

.project_each-description a {
  color: #000;
  transition: all 0.2s;
}

.project_each-description a:hover {
  color: #f03e3e;
}

.project_each-description i {
  display: inline-block;
  margin-top: 6px;
  font-size: 3.2rem;
  opacity: 0.8;
}
.projects_main .btn-hire {
  text-align: center;
}

.btn-view {
  text-align: center;
  margin-top: 32px;
}

/* Contact */

.contact {
  padding: var(--common-padding);
  text-align: center;
  background-color: #212529;
  color: #fff;
}

.contact h3 {
  margin-bottom: 4.2rem;
  color: #fff;
}

.contact_details {
  margin-bottom: 3.6rem;
}
.contact_details a,
.contact_details p,
.contact_details i {
  color: #fff !important;
}

.contact a,
.contact p {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 1.6rem;
  /* font-weight: bold; */
  display: inline-block;
}

.contact i {
  margin-right: 6px;
}

.contact a:hover {
  color: #f03e3e;
}

.contact_icons {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.contact_icons a {
  font-size: 4.8rem;
}

.footer {
  padding: 1.5rem 4rem 1.5rem 4rem;
  text-align: center;
  background-color: #212529;
  color: #e9ecef;
}

.footer p {
  opacity: 0.5;
  font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 1000px) {
  .experience {
    gap: 1.6rem;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 58%;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .experience {
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}

@media screen and (max-width: 740px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8rem;
  }
  .links {
    flex-direction: column;
    gap: 2.8rem;
    display: none;
  }

  .hamburger {
    display: block;
  }
  .about,
  .about-second,
  .skills,
  .projects_main,
  .contact {
    padding: 4rem 2rem;
  }
  header {
    padding: 3rem 2rem;
  }

  .projects {
    gap: 28px;
    /* grid-template-columns: 1fr 1fr; */
  }

  .owl-dots {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .experience {
    grid-template-columns: 1fr;
    /* gap: 2.4rem; */
  }
}

@media screen and (max-width: 500px) {
  .projects {
    /* gap: 28px; */
    grid-template-columns: 1fr;
  }

  .about_image {
    display: none;
  }
}
